Complete Builds/Complete.json
[
    {
        "id": "58dc4ea7.7725f",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8820d8e.df36f",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "b14f3385.91147",
                "e6359bc2.e6d748",
                "f431d3035100916e"
            ]
        ]
    },
    {
        "id": "b14f3385.91147",
        "type": "ui_gauge",
        "z": "58dc4ea7.7725f",
        "name": "",
        "group": "fa66e2c5226dbcbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "689cbb53.29f584",
        "type": "ui_switch",
        "z": "58dc4ea7.7725f",
        "name": "LED",
        "label": "LED",
        "tooltip": "",
        "group": "cd85fbb1.e85fe8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "IoTlab/led",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "85f542b8.c757f"
            ]
        ]
    },
    {
        "id": "85f542b8.c757f",
        "type": "mqtt out",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a1ec4312cf2d7d44",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "480cd74b.82a388",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/photoresistor",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "ec309043.a6962",
                "9ed050f4.c5bae"
            ]
        ]
    },
    {
        "id": "ec309043.a6962",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "802c4113.b3bd6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Threshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "8d2f75a.d4f1e88",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "fa66e2c5226dbcbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature Threshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "9ed050f4.c5bae",
        "type": "function",
        "z": "58dc4ea7.7725f",
        "name": "send_email",
        "func": "msg.topic=\"LED is ON\";\nmsg.payload=\"LED is ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            [
                "47d1a3a4.5eccac"
            ]
        ]
    },
    {
        "id": "82c3ce81.82f56",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/threshold",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "8d2f75a.d4f1e88"
            ]
        ]
    },
    {
        "id": "e6359bc2.e6d748",
        "type": "function",
        "z": "58dc4ea7.7725f",
        "name": "send_email",
        "func": "var temp = msg.payload;\n\nmsg.topic=\"Temperature is too hot\";\nmsg.payload=\"It is \" + temp + \". Would you like to turn the fan on?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "2778ece.015c014"
            ]
        ]
    },
    {
        "id": "a74bc317.ba222",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/Name",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 900,
        "wires": [
            [
                "d0760cfc.eb2fd",
                "e2138945.da0768"
            ]
        ]
    },
    {
        "id": "3d506985.f67446",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/Tag",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 960,
        "wires": [
            [
                "42783179.432ae"
            ]
        ]
    },
    {
        "id": "80671a35.799428",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/Temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "9d5128a6b4a055c5"
            ]
        ]
    },
    {
        "id": "2e4c9327.c92fbc",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/Light",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "ccca93312bff1784"
            ]
        ]
    },
    {
        "id": "d0760cfc.eb2fd",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "96781f22fe69307c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 900,
        "wires": []
    },
    {
        "id": "42783179.432ae",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "96781f22fe69307c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tag number:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "e2138945.da0768",
        "type": "function",
        "z": "58dc4ea7.7725f",
        "name": "send_email",
        "func": "var name = msg.payload;\n\nvar today = new Date();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n\nmsg.topic=\"Someone has entered\";\nmsg.payload=\"At \" + time + \", \" + name + \" is here.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 820,
        "wires": [
            [
                "2b59522.750dcae"
            ]
        ]
    },
    {
        "id": "26a8f6c.9c20c0a",
        "type": "debug",
        "z": "58dc4ea7.7725f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c6155d40.a421e",
        "type": "exec",
        "z": "58dc4ea7.7725f",
        "command": "/home/pi/Emilie/ConnectToBluetooth.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "23180952.9cc626"
            ],
            [],
            [
                "26a8f6c.9c20c0a"
            ]
        ]
    },
    {
        "id": "23180952.9cc626",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "c5457664.225658",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Detected Devices:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 910,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8a571b9.0eb0ee8",
        "type": "ui_button",
        "z": "58dc4ea7.7725f",
        "name": "",
        "group": "c5457664.225658",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan Devices",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "c6155d40.a421e"
            ]
        ]
    },
    {
        "id": "47d1a3a4.5eccac",
        "type": "e-mail",
        "z": "58dc4ea7.7725f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "emmymayodon@gmail.com",
        "dname": "",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "2778ece.015c014",
        "type": "e-mail",
        "z": "58dc4ea7.7725f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "emmymayodon@gmail.com",
        "dname": "",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b59522.750dcae",
        "type": "e-mail",
        "z": "58dc4ea7.7725f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "emmymayodon@gmail.com",
        "dname": "",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "e765a718feff13f0",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "79e9bc888ffb6a42"
            ]
        ]
    },
    {
        "id": "79e9bc888ffb6a42",
        "type": "ui_gauge",
        "z": "58dc4ea7.7725f",
        "name": "",
        "group": "fa66e2c5226dbcbf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#0040b5",
            "#00a4e6",
            "#38c8ca"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "f431d3035100916e",
        "type": "delay",
        "z": "58dc4ea7.7725f",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "38467731bfae505a"
            ]
        ]
    },
    {
        "id": "38467731bfae505a",
        "type": "e-mail in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "5",
        "fetch": "trigger",
        "inputs": 1,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "5bcfd57b1b81ef0a"
            ]
        ]
    },
    {
        "id": "5bcfd57b1b81ef0a",
        "type": "function",
        "z": "58dc4ea7.7725f",
        "name": "",
        "func": "var payload = msg.payload.trim().toUpperCase();\n\nif(payload.includes(\"YES\")){\n   msg.payload = \"Yes\";\n}else {\n   msg.payload = \"No\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9d5128a6b4a055c5",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "96781f22fe69307c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ccca93312bff1784",
        "type": "ui_text",
        "z": "58dc4ea7.7725f",
        "group": "96781f22fe69307c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 530,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3b0070c195eb330d",
        "type": "mqtt in",
        "z": "58dc4ea7.7725f",
        "name": "",
        "topic": "IoTlab/photovalue",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1ec4312cf2d7d44",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "b31ff65361a7a98e"
            ]
        ]
    },
    {
        "id": "b31ff65361a7a98e",
        "type": "ui_gauge",
        "z": "58dc4ea7.7725f",
        "name": "",
        "group": "802c4113.b3bd6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "b89562cb727fa5b0",
        "type": "ui_spacer",
        "z": "58dc4ea7.7725f",
        "name": "spacer",
        "group": "c5457664.225658",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1ec4312cf2d7d44",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.54",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fa66e2c5226dbcbf",
        "type": "ui_group",
        "name": "Weather",
        "tab": "c998b11554c12226",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd85fbb1.e85fe8",
        "type": "ui_group",
        "name": "LED",
        "tab": "c998b11554c12226",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "802c4113.b3bd6",
        "type": "ui_group",
        "name": "Photoresistor",
        "tab": "c998b11554c12226",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96781f22fe69307c",
        "type": "ui_group",
        "name": "RFID",
        "tab": "c998b11554c12226",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5457664.225658",
        "type": "ui_group",
        "name": "Detected Devices",
        "tab": "c998b11554c12226",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c998b11554c12226",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]