Flows/Flow2.json
[{"id":"43457feb.5ec4d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"275f7aa0.a95ab6","type":"mqtt in","z":"43457feb.5ec4d","name":"","topic":"IoTlab/Name","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":390,"y":300,"wires":[["e459a595.b0ae68","d89445c7.1c80d8"]]},{"id":"163c9384.9564cc","type":"mqtt in","z":"43457feb.5ec4d","name":"","topic":"IoTlab/Tag","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":380,"y":360,"wires":[["79193b41.c94df4"]]},{"id":"dd8d8af4.51e4d8","type":"mqtt in","z":"43457feb.5ec4d","name":"","topic":"IoTlab/Temp","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":390,"y":420,"wires":[["920d8635.72c698"]]},{"id":"1f67783b.a2c398","type":"mqtt in","z":"43457feb.5ec4d","name":"","topic":"IoTlab/Light","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":390,"y":480,"wires":[["211b0718.914d18"]]},{"id":"e459a595.b0ae68","type":"ui_text","z":"43457feb.5ec4d","group":"e8214a0f.329588","order":3,"width":0,"height":0,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-left","className":"","x":630,"y":300,"wires":[]},{"id":"79193b41.c94df4","type":"ui_text","z":"43457feb.5ec4d","group":"e8214a0f.329588","order":4,"width":0,"height":0,"name":"","label":"Tag number:","format":"{{msg.payload}}","layout":"row-left","className":"","x":650,"y":360,"wires":[]},{"id":"c0644c87.33294","type":"e-mail","z":"43457feb.5ec4d","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hakimbouabdellah02@gmail.com","dname":"","x":940,"y":220,"wires":[]},{"id":"d89445c7.1c80d8","type":"function","z":"43457feb.5ec4d","name":"send_email","func":"var name = msg.payload;\n\nvar today = new Date();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n\nmsg.topic=\"Someone has entered\";\nmsg.payload=\"At \" + time + \", \" + name + \" is here.\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["c0644c87.33294","da59e143.f14c6"]]},{"id":"da59e143.f14c6","type":"debug","z":"43457feb.5ec4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":300,"wires":[]},{"id":"920d8635.72c698","type":"ui_text_input","z":"43457feb.5ec4d","name":"","label":"Temperature","tooltip":"","group":"e8214a0f.329588","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":650,"y":420,"wires":[[]]},{"id":"211b0718.914d18","type":"ui_text_input","z":"43457feb.5ec4d","name":"","label":"Light:","tooltip":"","group":"e8214a0f.329588","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":630,"y":480,"wires":[[]]},{"id":"37cacacf.b6c296","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8214a0f.329588","type":"ui_group","z":"","name":"RFID","tab":"7e176a63.d13f04","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7e176a63.d13f04","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]