Flows/Flow1.json
[{"id":"38810b21.12c614","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"515ae4df.ff29fc","type":"mqtt in","z":"38810b21.12c614","name":"","topic":"IoTlab/temperature","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":340,"y":220,"wires":[["4602d6a9.ce2938","39445931.4ce7e6"]]},{"id":"8cf06524.cee508","type":"mqtt in","z":"38810b21.12c614","name":"","topic":"IoTlab/humidity","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":320,"y":460,"wires":[["c49bb083.5758a"]]},{"id":"c49bb083.5758a","type":"ui_gauge","z":"38810b21.12c614","name":"","group":"a47820dd.b1fbe","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"80","colors":["#0040b5","#00a4e6","#38c8ca"],"seg1":"","seg2":"","className":"","x":520,"y":460,"wires":[]},{"id":"4602d6a9.ce2938","type":"ui_gauge","z":"38810b21.12c614","name":"","group":"a47820dd.b1fbe","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":570,"y":220,"wires":[]},{"id":"fd62c80d.2cf9f8","type":"ui_switch","z":"38810b21.12c614","name":"LED","label":"LED","tooltip":"","group":"598675ac.cfc07c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"IoTlab/led","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":560,"wires":[["4fb265f6.81facc"]]},{"id":"4fb265f6.81facc","type":"mqtt out","z":"38810b21.12c614","name":"","topic":"IoTlab/led","qos":"","retain":"","broker":"37cacacf.b6c296","x":500,"y":560,"wires":[]},{"id":"9d1fe05d.41681","type":"mqtt in","z":"38810b21.12c614","name":"","topic":"IoTlab/photoresistor","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":330,"y":660,"wires":[["cf054e6d.07c48","41d29f18.196ba"]]},{"id":"cf054e6d.07c48","type":"ui_text","z":"38810b21.12c614","group":"e5e1df7e.8a337","order":0,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":660,"wires":[]},{"id":"2500c53c.b8a87a","type":"ui_text","z":"38810b21.12c614","group":"a47820dd.b1fbe","order":2,"width":0,"height":0,"name":"","label":"Temperature Threshold","format":"{{msg.payload}}","layout":"row-left","className":"","x":610,"y":140,"wires":[]},{"id":"41d29f18.196ba","type":"function","z":"38810b21.12c614","name":"send_email","func":"msg.topic=\"LED is ON\";\nmsg.payload=\"LED is ON\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":740,"wires":[["14b01a7.910bde6","89c42ac1.394778"]]},{"id":"14b01a7.910bde6","type":"e-mail","z":"38810b21.12c614","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ymir.ross@gmail.com","dname":"","x":820,"y":740,"wires":[]},{"id":"89c42ac1.394778","type":"debug","z":"38810b21.12c614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":820,"wires":[]},{"id":"3dadfcdf.8a5c54","type":"mqtt in","z":"38810b21.12c614","name":"","topic":"IoTlab/Threshold","qos":"2","datatype":"auto","broker":"37cacacf.b6c296","x":340,"y":140,"wires":[["2500c53c.b8a87a"]]},{"id":"39445931.4ce7e6","type":"function","z":"38810b21.12c614","name":"send_email","func":"var temp = msg.payload;\n\nmsg.topic=\"Temperature is too hot\";\nmsg.payload=\"It is \" + temp + \". Would you like to turn the fan on?\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["62172461.f0556c","d3153d03.f375"]]},{"id":"62172461.f0556c","type":"e-mail","z":"38810b21.12c614","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ymir.ross@gmail.com","dname":"","x":800,"y":300,"wires":[]},{"id":"d3153d03.f375","type":"debug","z":"38810b21.12c614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":360,"wires":[]},{"id":"37cacacf.b6c296","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a47820dd.b1fbe","type":"ui_group","z":"","name":"Weather","tab":"7e176a63.d13f04","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"598675ac.cfc07c","type":"ui_group","z":"","name":"LED","tab":"7e176a63.d13f04","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e5e1df7e.8a337","type":"ui_group","z":"","name":"Photoresistor","tab":"7e176a63.d13f04","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7e176a63.d13f04","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]